
@{
    ViewBag.Title = "InvoiceSearch";
}
<div class="row">
    <div class="col-xs-12 ">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Invoice Search</h4>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                   
                    <form method="post" action="@Url.Action("InvoiceSearch", "SalesPrintReport")" target="_blank" name="frmsubmit">
                        <input type="text" id="hidden_area" style="display:none;" />
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 ">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class="widget-title">Sales Records</h4>

                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="row">
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right" for="fromdate" > Invoice Id</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" id="invoice_id" value="" name="invoice_id"  style="padding:6px;"/>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">


                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="button" class="btn-search" value="Search" onclick="getinvoice()"  />

                                                            @*<button type="button" class="btn-search" id="btnAdd" onclick="ExSearch()">Search</button>*@


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function getinvoice() {
        
        var newid = $("#invoice_id").val();
        var iunrl1v = '@Url.Action("GetpassSearch", "SalesPrintReport")';
        var cha ='@Url.Action("ChalanSearch", "SalesPrintReport")';
        
      window.open(iunrl1v +'?invoice_id='+ newid, '_blank');
      window.open(cha + '?invoice_id=' + newid, '_blank');
        document.frmsubmit.submit();
    }
</script>